{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<main id="content">
<section class="d-flex flex-column bg-img-cover-center vh-100 custom-height-sm pt-xxl-13" style="background-image: url('{% static 'web/images/matanah2.jpg' %}');">
<div class="d-flex flex-column h-100 align-items-center justify-content-center justify-content-xxl-start pt-xxl-13">
<div class="container">
<p class="text-center text-black fs-20 font-weight-bold mb-4">Matanah</p>
<h1 class="fs-60 fs-lg-90 lh-1 text-center text-black">About Us</h1>
</div>
</div>
</section>
<section class="pt-11 pt-lg-14">
<div class="container">
<div class="row align-items-center no-gutters flex-md-row-reverse">
<div class="col-md-6 pl-md-6 pl-lg-13 mb-6 mb-md-0">
<h2 class="fs-30 fs-md-60 mb-2">
    STEEL FURNITURE <br> MANUFACTURING COMPANY </h2>
<p class="mb-6"> A piece of furniture adds beauty to your home or interiors. Being a leading steel furniture manufacturer in Saudi Arabia we look forward to delivering attractive designs with outstanding product quality.</p>
<p class="counterup fs-60 text-primary font-weight-500 lh-13 mb-2" data-start="0" data-end="12346" data-decimals="0" data-duration="0" data-separator=",">12346
</p>
<p class="text-primary font-weight-500">Satisfied customers worldwide and growing</p>
</div>
<div class="col-md-6">
<img data-cfsrc="{% static 'web/images/b-14.jpg' %}" alt="Setting Industry Standards" style="display:none;visibility:hidden;">
<img src="{% static 'web/images/b-14.jpg' %}" alt="Setting Industry Standards">
</div>
</div>
</div>
</section>
<section class="pt-13">
<div class="container">
<div class="mb-8 mxw-110px mx-auto">
<img data-cfsrc="{% static 'web/images/Matanah favicon 2.png' %}" alt="Logo circle" style="display:none;visibility:hidden;">
<img src="{% static 'web/images/Matanah favicon 2.png' %}" alt="Logo circle">
</div>
<div class="mxw-830 mx-auto">
<h2 class="fs-30 fs-md-40 lh-15 mb-7 text-center">WHOLESALE MANUFACTURERS AND TRADERS OF STEEL FURNITURE</h2>
<p class="fs-20 text-primary font-weight-500 mb-6 text-center">Real comfort, beauty and quality should reflect in every piece of furniture for your home’s desired beauty.</p>
<p class="mb-0" style="text-align: justify;">We believe that the true beauty of any interior is the beauty of the furniture within it. Matanah is the leading manufacturer of a comprehensive range of quality Steel
    furniture and supplier of steel bunk beds, Steel cabinets, Mattress pillows and
    Blankets. The company was established in 1974 by Mr Abdul Rahman Abdul Azeez Abdulla Abalkhal. The company was born with his imagination and creativity, which is the ultimate reason behind the success and phenomenal growth of Matanah furniture. As of now, his son, Mr Abdul Majeed Abdul Rahman Abalkhail, plays a crucial role in managing the organization since the year 2000. Alkharj-Riyadh industrial area, Riyadh is Matanah's main furniture factory, which is fully equipped with state-of-the-art machinery throughout Saudi Arabia and the wider Middle East.</p>
</div>
</div>
</section>
<section class="pb-13 pt-lg-15 pb-lg-17">
<div class="container">
<div class="row align-items-center mb-4 no-gutters">
<div class="col-md-6 pr-md-6 pr-lg-13">
<h2 class="fs-30 fs-md-60 mb-3">CUSTOMISED STEEL FURNITURE & ACCESSORIES</h2>
<p class="mb-6" style="text-align: justify;">  Being one of the top-notch steel furniture manufacturers and traders in  Saudi we strive to preserve the beauty and comfort in every piece of furniture. We make use of the best quality materials and skilled craftsmen to create exceptional furniture for our customers.</p>
<p class="counterup fs-60 text-primary font-weight-500 lh-13 mb-2" data-start="0" data-end="100" data-decimals="0" data-duration="0" data-separator=",">100
</p>
<p class="text-primary font-weight-500">Customised steel furniture and accessories</p>
</div>
<div class="col-md-6 mt-6 mt-md-0">
<img data-cfsrc="{% static 'web/images/banner web banner.jpg' %}" alt="Growing Fast" style="display:none;visibility:hidden;"><img src="{% static 'web/images/banner web banner.jpg' %}" alt="Growing Fast">
</div>
</div>
</div>
</section>
<section class="py-10 bg-accent">
<div class="container">
<h2 class="fs-30 fs-md-40 mb-10 text-center">ADDED BENEFITS WITH MATANAH</h2>
<div class="row">
<div class="col-md-4 mb-6 mb-md-0">
<div class="card bg-transparent border-0 align-items-center">
<div class="w-63px card-img">
<img data-cfsrc="{% static 'web/images/1.png' %}" alt="Cruises & Water Tours" style="display:none;visibility:hidden;"><img src="{% static 'web/images/1.png' %}" alt="Cruises & Water Tours">
</div>
<div class="card-body px-0 pt-6 text-center">
<h3 class="card-title fs-20 mb-3">QUALITY PRODUCTS</h3>
<p class="cart-text mb-0">Being a top-notch steel furniture manufacturer in Saudi Arabia, Matanah strives to deliver exceptional quality in every product.</p>
</div>
</div>
</div>
<div class="col-md-4 mb-6 mb-md-0">
<div class="card bg-transparent border-0 align-items-center">
<div class="w-63px card-img">
<img data-cfsrc="{% static 'web/images/2.png' %}" alt="Night Life" style="display:none;visibility:hidden;"><img src="{% static 'web/images/2.png' %}" alt="Night Life">
</div>
<div class="card-body px-0 pt-6 text-center">
<h3 class="card-title fs-20 mb-3">CUSTOM DESIGNS</h3>
<p class="cart-text mb-0">Innovative and creative designs are assured with every product of Matanah for meeting the customer requirements.  </p>
</div>
</div>
</div>
<div class="col-md-4 mb-6 mb-md-0">
<div class="card bg-transparent border-0 align-items-center">
<div class="w-63px card-img">
<img data-cfsrc="{% static 'web/images/3.png' %}" alt="Hiking" style="display:none;visibility:hidden;"><img src="{% static 'web/images/3.png' %}" alt="Hiking">
</div>
<div class="card-body px-0 pt-6 text-center">
<h3 class="card-title fs-20 mb-3">ACCESSORIES</h3>
<p class="cart-text mb-0">We deliver the best quality accessories along with steel furniture (mainly for beds) for the ease of customers. </p>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- <section class="py-11 py-lg-15">
<div class="container">
<h2 class="text-center fs-30 fs-md-40 mb-8">Our Designers</h2>
<div class="slick-slider custom-arrow-1" data-slick-options='{"slidesToShow": 5,"infinite":true,"autoplay":true,"dots":false,"arrows":true,"responsive":[{"breakpoint": 992,"settings": {"slidesToShow":4,"dots":true,"arrows":false}},{"breakpoint": 768,"settings": {"slidesToShow": 3,"dots":true,"arrows":false}},{"breakpoint": 576,"settings": {"slidesToShow": 2,"dots":true,"arrows":false}}]}'>
<div class="box">
<a href="#" class="card border-0 align-items-center">
<div class="w-130 rounded-circle overflow-hidden card-img">
<img data-cfsrc="{% static 'web/images/our-team-01.jpg' %}" alt="Mattie Blooman" style="display:none;visibility:hidden;"><img src="{% static 'web/images/our-team-01.jpg' %}" alt="Mattie Blooman">
</div>
<div class="card-body px-0 pt-3 pb-0">
<p class="card-title text-primary fs-15 font-weight-bold mb-0">Mattie Blooman</p>
</div>
</a>
</div>
<div class="box">
<a href="#" class="card border-0 align-items-center">
<div class="w-130 rounded-circle overflow-hidden card-img">
<img data-cfsrc="{% static 'web/images/our-team-02.jpg' %}" alt="Chioke Chinasa" style="display:none;visibility:hidden;"><img src="{% static 'web/images/our-team-02.jpg' %}" alt="Chioke Chinasa">
</div>
<div class="card-body px-0 pt-3 pb-0">
<p class="card-title text-primary fs-15 font-weight-bold mb-0">Chioke Chinasa</p>
</div>
</a>
</div>
<div class="box">
<a href="#" class="card border-0 align-items-center">
<div class="w-130 rounded-circle overflow-hidden card-img">
<img data-cfsrc="{% static 'web/images/our-team-03.jpg' %}" alt="Fakhri Shokoohi" style="display:none;visibility:hidden;"><img src="{% static 'web/images/our-team-03.jpg' %}" alt="Fakhri Shokoohi">
</div>
<div class="card-body px-0 pt-3 pb-0">
<p class="card-title text-primary fs-15 font-weight-bold mb-0">Fakhri Shokoohi</p>
</div>
</a>
</div>
<div class="box">
<a href="#" class="card border-0 align-items-center">
<div class="w-130 rounded-circle overflow-hidden card-img">
<img data-cfsrc="{% static 'web/images/our-team-04.jpg' %}" alt="Mattie Blooman" style="display:none;visibility:hidden;"><img src="{% static 'web/images/our-team-04.jpg' %}" alt="Mattie Blooman">
</div>
<div class="card-body px-0 pt-3 pb-0">
<p class="card-title text-primary fs-15 font-weight-bold mb-0">Mattie Blooman</p>
</div>
</a>
</div>
<div class="box">
<a href="#" class="card border-0 align-items-center">
<div class="w-130 rounded-circle overflow-hidden card-img">
<img data-cfsrc="{% static 'web/images/our-team-05.jpg' %}" alt="Kip Collison" style="display:none;visibility:hidden;"><img src="{% static 'web/images/our-team-05.jpg' %}" alt="Kip Collison">
</div>
<div class="card-body px-0 pt-3 pb-0">
<p class="card-title text-primary fs-15 font-weight-bold mb-0">Kip Collison</p>
</div>
</a>
</div>
<div class="box">
<a href="#" class="card border-0 align-items-center">
<div class="w-130 rounded-circle overflow-hidden card-img">
<img data-cfsrc="{% static 'web/images/our-team-06.jpg' %}" alt="Kip Collison" style="display:none;visibility:hidden;"><img src="{% static 'web/images/our-team-06.jpg' %}" alt="Kip Collison">
</div>
<div class="card-body px-0 pt-3 pb-0">
<p class="card-title text-primary fs-15 font-weight-bold mb-0">Kip Collison</p>
</div>
</a>
</div>
</div>
</div>
</section> -->
</main>





{% endblock %}