{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<main id="content">
    <section class="overflow-hidden">
        <div class="slick-slider slick-dots-light dots-inner-center"
            data-slick-options='{"slidesToShow": 1,"infinite":true,"autoplay":false,"dots":true,"arrows":false}'>
            <div class="box">
                <div class="d-flex flex-column justify-content-center bg-img-cover-center custom-vh-02 custom-height-sm"
                    style="background-image: url('{% static 'web/images/matanah3.jpg' %}')">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="container container-xxl">
                            <p class="text-black font-weight-bold fs-20 mb-3 text-center" data-animate="fadeInUp">STEEL FURNITURE FACTORY</p>
                            <h1 class="mb-6 fs-60 fs-xxl-90 lh-1 text-black text-center" data-animate="fadeInUp">CREATIVE DESIGNS</h1>
                            <div class="text-center" data-animate="fadeInUp"><a href="/product/all/"
                                    class="btn btn-white text-uppercase letter-spacing-05 text-center"
                                    data-animate="fadeInUp">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="d-flex flex-column justify-content-center bg-img-cover-center custom-vh-02 custom-height-sm"
                    style="background-image: url('{% static 'web/images/matanah4.jpg' %}')">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="container container-xxl">
                            <p class="text-black font-weight-bold fs-20 mb-3 text-center" data-animate="fadeInUp">MODERN STEEL FURNITURE</p>
                            <h1 class="mb-6 fs-60 fs-xxl-90 lh-1 text-black text-center" data-animate="fadeInUp">TRUSTED QUALITY</h1>
                            <div class="text-center" data-animate="fadeInUp"><a href="/product/all/"
                                    class="btn btn-white text-uppercase letter-spacing-05 text-center"
                                    data-animate="fadeInUp">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="d-flex flex-column justify-content-center bg-img-cover-center custom-vh-02 custom-height-sm"
                    style="background-image: url('{% static 'web/images/matanah5.jpg' %}')">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="container container-xxl">
                            <p class="text-black font-weight-bold fs-20 mb-3 text-center" data-animate="fadeInUp">FURNITURE & ACCESSORIES</p>
                            <h1 class="mb-6 fs-60 fs-xxl-90 lh-1 text-black text-center" data-animate="fadeInUp">CUSTOM MADE PRODUCTS</h1>
                            <div class="text-center" data-animate="fadeInUp"><a href="/product/all/"
                                    class="btn btn-white text-uppercase letter-spacing-05 text-center"
                                    data-animate="fadeInUp">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %}
    <section class="pt-6 pb-lg-15 pb-11">
        <div class="container-fluid">
            <div class="slick-slider"
                data-slick-options='{"slidesToShow": 4, "autoplay":true,"dots":true,"arrows":false,"responsive":[{"breakpoint": 1200,"settings": {"slidesToShow":4}},{"breakpoint": 992,"settings": {"slidesToShow":3}},{"breakpoint": 768,"settings": {"slidesToShow": 2}},{"breakpoint": 576,"settings": {"slidesToShow": 1}}]}'>
                <div class="box" data-animate="fadeInUp">
                    <div class="card border-0">
                        <img data-cfsrc="{% static 'web/images/c_07.jpg' %}" alt="Chairs" class="card-img"
                            style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/c_07.jpg' %}" alt="Chairs" class="card-img"></noscript>
                        <div class="card-img-overlay d-inline-flex flex-column px-6 pt-4 pb-6">
                            <h3 class="card-title fs-30">Chairs</h3>
                            <div class="mt-auto">
                                <a href="shop-page-02.html"
                                    class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" data-animate="fadeInUp">
                    <div class="card border-0">
                        <img data-cfsrc="{% static 'web/images/c_08.jpg' %}" alt="Accessories" class="card-img"
                            style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/c_08.jpg' %}" alt="Accessories" class="card-img"></noscript>
                        <div class="card-img-overlay d-inline-flex flex-column px-6 pt-4 pb-6">
                            <h3 class="card-title fs-30">Accessories</h3>
                            <div class="mt-auto">
                                <a href="shop-page-02.html"
                                    class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" data-animate="fadeInUp">
                    <div class="card border-0">
                        <img data-cfsrc="{% static 'web/images/c_09.jpg' %}" alt="Tables" class="card-img"
                            style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/c_09.jpg' %}" alt="Tables" class="card-img"></noscript>
                        <div class="card-img-overlay d-inline-flex flex-column px-6 pt-4 pb-6">
                            <h3 class="card-title fs-30">Tables</h3>
                            <div class="mt-auto">
                                <a href="shop-page-02.html"
                                    class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" data-animate="fadeInUp">
                    <div class="card border-0">
                        <img data-cfsrc="{% static 'web/images/c_10.jpg' %}" alt="Sofa" class="card-img"
                            style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/c_10.jpg' %}" alt="Sofa" class="card-img"></noscript>
                        <div class="card-img-overlay d-inline-flex flex-column px-6 pt-4 pb-6">
                            <h3 class="card-title fs-30">Sofa</h3>
                            <div class="mt-auto">
                                <a href="shop-page-02.html"
                                    class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" data-animate="fadeInUp">
                    <div class="card border-0">
                        <img data-cfsrc="{% static 'web/images/c_07.jpg' %}" alt="Chairs" class="card-img"
                            style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/c_07.jpg' %}" alt="Chairs" class="card-img"></noscript>
                        <div class="card-img-overlay d-inline-flex flex-column px-6 pt-4 pb-6">
                            <h3 class="card-title fs-30">Chairs</h3>
                            <div class="mt-auto">
                                <a href="shop-page-02.html"
                                    class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop
                                    Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endcomment %}
    <section class="pb-11 pb-lg-15 pt-4">
        <div class="container">
            <h2 class="mb-8 text-center fs-30 fs-md-40">Featured Items</h2>
            <div class="row">

                {% for products in product %}
                <div class="col-sm-6 col-lg-3 mb-6" data-animate="fadeInUp">
                    <div class="card border-0 hover-change-content product">
                        <div style="background-image: url('{{products.image.crop.800x800}}')"
                            class="card-img ratio bg-img-cover-center ratio-1-1">
                        </div>
                       
                    </div>
                    <div>
                        <div>
                            <h3>{{products.title}}</h3>
                        </div>
                        <div></div>
                        <label>{{products.category}}</label>
                        <div>
                            <label>	&#8377;  {{products.price}}</label>
                        </div>
                       
                       
                    </div>
                </div>
                {% endfor %}


        
            </div>
            <div class="text-center">
                <a href="/product/all/" class="btn btn-outline-primary text-uppercase letter-spacing-05">Shop Now</a>
            </div>
        </div>
    </section>
    <section class="pb-10 pb-lg-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-6 mb-lg-0">
                    <div class="card border-0 banner banner-07">
                        <div class="card-img bg-img-cover-center"
                            style="background-image: url('{% static 'web/images/banner web side.jpg' %}')"></div>
                        <div class="card-img-overlay d-inline-flex flex-column p-4 px-sm-7 py-sm-8">
                            <h3 class="card-title fs-30 fs-md-40">Unique Design</h3>
                            <!-- <div class="mt-auto">
<a href="shop-page-02.html" class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop Now</a>
</div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-0 banner banner-07">
                        <div class="card-img bg-img-cover-center"
                            style="background-image: url('{% static 'web/images/web side 02.jpg' %}')"></div>
                        <div class="card-img-overlay d-inline-flex flex-column align-items-center p-4 p-sm-7">
                            <h3 class="card-title fs-30 fs-md-34 mb-2">Quality Steel</h3>
                            <!-- <div>
<a href="shop-page-02.html" class="text-uppercase fs-14 letter-spacing-05 border-bottom border-light-dark border-hover-primary font-weight-bold">Shop Now</a>
</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %}
    <section class="py-10 py-lg-15 bg-img-cover-center bg-custom-01"
        style="background-image: url('{% static 'web/images/bg-countdown.jpg' %}');">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <h2 class="fs-30 fs-md-60 mb-6 text-center">
                        Bobby Stool
                    </h2>
                    <div class="countdown d-flex justify-content-center mb-8" data-countdown="true"
                        data-countdown-end="Jan 27, 2022 18:24:25">
                        <div class="countdown-item d-flex flex-column text-center px-2 px-sm-4">
                            <span class="fs-30 fs-sm-40 fs-lg-60 lh-1 text-primary day">02</span>
                            <span
                                class="fs-12 letter-spacing-05 text-uppercase text-primary font-weight-500">days</span>
                        </div>
                        <div class="separate fs-30">:</div>
                        <div class="countdown-item d-flex flex-column text-center px-2 px-sm-4">
                            <span class="fs-30 fs-sm-40 fs-lg-60 lh-1 text-primary hour">24</span>
                            <span
                                class="fs-12 letter-spacing-05 text-uppercase text-primary font-weight-500">hours</span>
                        </div>
                        <div class="separate fs-30">:</div>
                        <div class="countdown-item d-flex flex-column text-center px-2 px-sm-4">
                            <span class="fs-30 fs-sm-40 fs-lg-60 lh-1 text-primary minute">15</span>
                            <span
                                class="fs-12 letter-spacing-05 text-uppercase text-primary font-weight-500">minutes</span>
                        </div>
                        <div class="separate fs-30">:</div>
                        <div class="countdown-item d-flex flex-column text-center px-2 px-sm-4">
                            <span class="fs-30 fs-sm-40 fs-lg-60 lh-1 text-primary second">41</span>
                            <span
                                class="fs-12 letter-spacing-05 text-uppercase text-primary font-weight-500">seconds</span>
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <a href="#" class="btn btn-outline-primary text-uppercase letter-spacing-05 px-5">get only
                            $1000</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endcomment %}
    <section class="pt-8 pb-7 border-bottom">
        <div class="container container-xxl">
            <div class="slick-slider"
                data-slick-options='{"slidesToShow": 7,"infinite":true,"autoplay":false,"dots":false,"arrows":false,"responsive":[{"breakpoint": 1367,"settings": {"slidesToShow":6}},{"breakpoint": 992,"settings": {"slidesToShow":5}},{"breakpoint": 768,"settings": {"slidesToShow": 4}},{"breakpoint": 576,"settings": {"slidesToShow": 2}}]}'>
                <div class="box">
                    <a href="#" class="d-block px-3 px-xl-7">
                        <img data-cfsrc="{% static 'web/images/client_logo_01.png' %}" alt="Client Logo 01"
                            class="opacity-5 opacity-hover-10" style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/client_logo_01.png' %}" alt="Client Logo 01"
                                class="opacity-5 opacity-hover-10"></noscript>
                    </a>
                </div>
                <div class="box">
                    <a href="#" class="d-block px-3 px-xl-7">
                        <img data-cfsrc="{% static 'web/images/client_logo_02.png' %}" alt="Client Logo 02"
                            class="opacity-5 opacity-hover-10" style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/client_logo_02.png' %}" alt="Client Logo 02"
                                class="opacity-5 opacity-hover-10"></noscript>
                    </a>
                </div>
                <div class="box">
                    <a href="#" class="d-block px-3 px-xl-7">
                        <img data-cfsrc="{% static 'web/images/client_logo_03.png' %}" alt="Client Logo 03"
                            class="opacity-5 opacity-hover-10" style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/client_logo_03.png' %}" alt="Client Logo 03"
                                class="opacity-5 opacity-hover-10"></noscript>
                    </a>
                </div>
                <div class="box">
                    <a href="#" class="d-block px-3 px-xl-7">
                        <img data-cfsrc="{% static 'web/images/client_logo_04.png' %}" alt="Client Logo 04"
                            class="opacity-5 opacity-hover-10" style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/client_logo_04.png' %}" alt="Client Logo 04"
                                class="opacity-5 opacity-hover-10"></noscript>
                    </a>
                </div>
                <div class="box">
                    <a href="#" class="d-block px-3 px-xl-7">
                        <img data-cfsrc="{% static 'web/images/client_logo_05.png' %}" alt="Client Logo 05"
                            class="opacity-5 opacity-hover-10" style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/client_logo_05.png' %}" alt="Client Logo 05"
                                class="opacity-5 opacity-hover-10"></noscript>
                    </a>
                </div>
                <div class="box">
                    <a href="#" class="d-block px-3 px-xl-7">
                        <img data-cfsrc="{% static 'web/images/client_logo_06.png' %}" alt="Client Logo 06"
                            class="opacity-5 opacity-hover-10" style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/client_logo_06.png' %}" alt="Client Logo 06"
                                class="opacity-5 opacity-hover-10"></noscript>
                    </a>
                </div>
                <div class="box">
                    <a href="#" class="d-block px-3 px-xl-7">
                        <img data-cfsrc="{% static 'web/images/client_logo_07.png' %}" alt="Client Logo 07"
                            class="opacity-5 opacity-hover-10" style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/client_logo_07.png' %}" alt="Client Logo 07"
                                class="opacity-5 opacity-hover-10"></noscript>
                    </a>
                </div>
                <div class="box">
                    <a href="#" class="d-block px-3 px-xl-7">
                        <img data-cfsrc="{% static 'web/images/client_logo_08.png' %}" alt="Client Logo 08"
                            class="opacity-5 opacity-hover-10" style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/client_logo_08.png' %}" alt="Client Logo 08"
                                class="opacity-5 opacity-hover-10"></noscript>
                    </a>
                </div>
                <div class="box">
                    <a href="#" class="d-block px-3 px-xl-7">
                        <img data-cfsrc="{% static 'web/images/client_logo_09.png' %}" alt="Client Logo 09"
                            class="opacity-5 opacity-hover-10" style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/client_logo_09.png' %}" alt="Client Logo 09"
                                class="opacity-5 opacity-hover-10"></noscript>
                    </a>
                </div>
                <div class="box">
                    <a href="#" class="d-block px-3 px-xl-7">
                        <img data-cfsrc="{% static 'web/images/client_logo_10.png' %}" alt="Client Logo 10"
                            class="opacity-5 opacity-hover-10" style="display:none;visibility:hidden;"><noscript><img
                                src="{% static 'web/images/client_logo_10.png' %}" alt="Client Logo 10"
                                class="opacity-5 opacity-hover-10"></noscript>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="py-11 py-lg-12">
        <div class="container">
            <h2 class="fs-30 fs-md-40 mb-9 text-center">Popular Items</h2>
            <div class="row">
                {% for product in products %}
                <div class="col-md-4 mb-6" data-animate="fadeInUp">
                    <div class="card border-0 hover-change-content product">
                        <div class="card-img-top position-relative">
                            <div style="background-image: url({{product.image.crop.800x800}}"
                                class="card-img ratio bg-img-cover-center ratio-1-1">
                            </div>
                            <!-- <div class="position-absolute pos-fixed-bottom px-4 px-sm-6 pb-5 d-flex w-100 justify-content-center content-change-horizontal">
<a href="#" data-toggle="tooltip" title="Add to cart" class="add-to-cart d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
<i class="far fa-shopping-basket"></i>
</a>
<a href="#" data-toggle="tooltip" title="Add to favourite" class="add-to-wishlist d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
<i class="far fa-heart"></i>
</a>
<a href="#" data-toggle="tooltip" title="Add to compare" class="add-to-compare d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
<i class="far fa-random"></i>
</a>
<a href="#" data-toggle="tooltip" title="Preview" class="preview d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle border">
<i class="far fa-eye"></i>
</a>
</div> -->
                        </div>
                        <div class="card-body px-0 pt-4 pb-0 d-flex align-items-end">
                            <div class="mr-auto">
                                <a href="#"
                                    class="text-uppercase text-muted letter-spacing-05 fs-12 d-block font-weight-500">{{product.category}}</a>
                                <a href="#" class="font-weight-bold mt-1 d-block">{{product.title}}</a>
                            </div>
                            <p class="text-primary mb-0 font-weight-500"> &#8377; {{product.price}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% comment %}
                <div class="col-md-4 mb-6" data-animate="fadeInUp">
                    <div class="card border-0 hover-change-content product">
                        <div class="card-img-top position-relative">
                            <div style="background-image: url('{% static 'web/images/product-16.jpg' %}')"
                                class="card-img ratio bg-img-cover-center ratio-1-1">
                            </div>
                            <div
                                class="position-absolute pos-fixed-bottom px-4 px-sm-6 pb-5 d-flex w-100 justify-content-center content-change-horizontal">
                                <a href="#" data-toggle="tooltip" title="Add to cart"
                                    class="add-to-cart d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
                                    <i class="far fa-shopping-basket"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" title="Add to favourite"
                                    class="add-to-wishlist d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" title="Add to compare"
                                    class="add-to-compare d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
                                    <i class="far fa-random"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" title="Preview"
                                    class="preview d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle border">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body px-0 pt-4 pb-0 d-flex align-items-end">
                            <div class="mr-auto">
                                <a href="#"
                                    class="text-uppercase text-muted letter-spacing-05 fs-12 d-block font-weight-500">chair</a>
                                <a href="#" class="font-weight-bold mt-1 d-block">Potato Chair</a>
                            </div>
                            <p class="text-primary mb-0 font-weight-500">$1390.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-6" data-animate="fadeInUp">
                    <div class="card border-0 hover-change-content product">
                        <div class="card-img-top position-relative">
                            <div style="background-image: url('{% static 'web/images/product-17.jpg' %}')"
                                class="card-img ratio bg-img-cover-center ratio-1-1">
                            </div>
                            <div
                                class="position-absolute pos-fixed-bottom px-4 px-sm-6 pb-5 d-flex w-100 justify-content-center content-change-horizontal">
                                <a href="#" data-toggle="tooltip" title="Add to cart"
                                    class="add-to-cart d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
                                    <i class="far fa-shopping-basket"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" title="Add to favourite"
                                    class="add-to-wishlist d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" title="Add to compare"
                                    class="add-to-compare d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mr-2 border">
                                    <i class="far fa-random"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" title="Preview"
                                    class="preview d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle border">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body px-0 pt-4 pb-0 d-flex align-items-end">
                            <div class="mr-auto">
                                <a href="#"
                                    class="text-uppercase text-muted letter-spacing-05 fs-12 d-block font-weight-500">decor</a>
                                <a href="#" class="font-weight-bold mt-1 d-block">Golden Clock</a>
                            </div>
                            <p class="text-primary mb-0 font-weight-500">$1390.00</p>
                        </div>
                    </div>
                </div>
                {% endcomment %}
            </div>
        </div>
    </section>
    <section style="background-color: #f7f7f7;">
        <div class="row align-items-center no-gutters room-inspiration">
            <div class="col-lg-6 order-1 order-lg-first">
                <img data-cfsrc="{% static 'web/images/b-05.jpg' %}"><img src="{% static 'web/images/web banner 04.jpg' %}">
            </div>
            <div class="col-lg-6 mb-6 mb-lg-0 order-first order-lg-1 ml-auto py-8 py-lg-0 content"
                data-animate="fadeInRight">
                <h2 class="fs-30 fs-md-56 mb-3">WHOLESALE DEALERS OF STEEL FURNITURE</h2>
                <p class="mb-7 font-weight-500">Matanah Furniture Factory is one of the finest customised furniture manufacturing companies based in Riyadh, Saudi Arabia with branches in Jeddah as well.</p>
                <a href="{% url 'web:about' %}" class="btn btn-outline-primary text-uppercase letter-spacing-05">our
                    journal</a>
            </div>
        </div>
    </section>
</main>



{% endblock %}