{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<main id="content">
    <section class="d-flex flex-column bg-img-cover-center vh-100 custom-height-sm pt-xxl-13"
        style="background-image: url('{% static 'web/images/matanahbanner.jpg' %}');">
        <div
            class="d-flex flex-column h-100 align-items-center justify-content-center justify-content-xxl-start pt-xxl-13">
            <div class="container">
                <!-- <p class="text-center text-black fs-20 font-weight-bold mb-4">Matanah</p> -->
                {% for product in product %}
                {% if  product.category.slug != "all" %}
                <h1 class="fs-60 fs-lg-90 lh-1 text-center text-white">{{product.category.title}}</h1>
                {% else %}
                <h1 class="fs-60 fs-lg-90 lh-1 text-center text-white">Products</h1>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="py-8 page-title border-top mt-1">
        <!-- <div class="container">
            <h1 class="fs-40 mb-1 text-capitalize text-center">Shop All</h1>
        </div> -->
         <!-- ====================================================== -->
    <!-- Browse category in mob and tab -->
    <div class="col-xl-3 d-lg-none">
        <div class="dropdown no-caret mob-category-sec">
            <a href="#"
                class="btn1 dropdown-toggle btn-primary d-flex w-100 text-left align-items-center px-0 px-xl-4 border-0 shadow-none"
                id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="toggle-bar"><span class="toggle-icon text-white"></span></div>
                <div class="pl-5">Browse Categories</div>
            </a>
            <div class="dropdown-menu w-100 py-0 dropdown-pos" aria-labelledby="dropdownMenuButton1">

                {% for categories in category %}
                <a class="dropdown-item media align-items-center border-bottom py-2"
                    href="/product/{{categories.slug}}">
                    <!-- <div class="w-28px mr-3">
                        <img data-cfsrc="{% static 'web/images/chair.png' %}" alt="Chair"
                            style="display:none;visibility:hidden;">
                        <img src="{% static 'web/images/chair.png' %}" alt="Chair">
                    </div> -->
                    <div class="media-body ">{{categories.title}}</div>
                </a>
                {% endfor %}

                {% comment %}
                <a class="dropdown-item media align-items-center border-bottom py-2" href="#">
                    <div class="w-28px mr-3">
                        <img data-cfsrc="{% static 'web/images/desk.png' %}" alt="Table"
                            style="display:none;visibility:hidden;"><img src="{% static 'web/images/desk.png' %}"
                            alt="Table">
                    </div>
                    <div class="media-body">Table
                    </div>
                </a>
                <a class="dropdown-item media align-items-center border-bottom py-2" href="#">
                    <div class="w-28px mr-3">
                        <img data-cfsrc="{% static 'web/images/fish_bowl.png' %}" alt="Accessories"
                            style="display:none;visibility:hidden;"><img src="{% static 'web/images/fish_bowl.png' %}"
                            alt="Accessories">
                    </div>
                    <div class="media-body">Accessories
                    </div>
                </a>
                <a class="dropdown-item media align-items-center border-bottom py-2" href="#">
                    <div class="w-28px mr-3">
                        <img data-cfsrc="{% static 'web/images/sofa.png' %}" alt="Sofa"
                            style="display:none;visibility:hidden;"><img src="{% static 'web/images/sofa.png' %}"
                            alt="Sofa">
                    </div>
                    <div class="media-body">Sofa
                    </div>
                </a>
                <a class="dropdown-item media align-items-center border-bottom py-2" href="#">
                    <div class="w-28px mr-3">
                        <img data-cfsrc="{% static 'web/images/plant.png' %}" alt="Plants"
                            style="display:none;visibility:hidden;"><img src="{% static 'web/images/plant.png' %}"
                            alt="Plants">
                    </div>
                    <div class="media-body">Plants
                    </div>
                </a>
                <a class="dropdown-item media align-items-center border-bottom py-2" href="#">
                    <div class="w-28px mr-3">
                        <img data-cfsrc="{% static 'web/images/stool.png' %}" alt="Stool"
                            style="display:none;visibility:hidden;"><img src="{% static 'web/images/stool.png' %}"
                            alt="Stool">
                    </div>
                    <div class="media-body">Stool
                    </div>
                </a>
                <a class="dropdown-item media align-items-center border-bottom py-2" href="#">
                    <div class="w-28px mr-3">
                        <img data-cfsrc="{% static 'web/images/ladder.png' %}" alt="Stands"
                            style="display:none;visibility:hidden;"><img src="{% static 'web/images/ladder.png' %}"
                            alt="Stands">
                    </div>
                    <div class="media-body">Stands
                    </div>
                </a>
                {% endcomment %}
            </div>
        </div>
    </div>
    <!-- End of Browse category in mob and tab -->
    <!-- ==================================================== -->
    </section>
    <section>
        {% comment %}
        <div class="container container-xxl">
            <div class="row mb-7 overflow-hidden">

                {% for products in product %}
                <div class="col-sm-6 col-lg-3 mb-6" data-animate="fadeInUp">
                    <div class="card border-0 hover-change-content product">
                        <div style="background-image: url('{{products.image.crop.800x800}}')"
                            class="card-img ratio bg-img-cover-center ratio-1-1">
                        </div>
                        <div class="card-img-overlay d-flex py-4 py-sm-5 pl-6 pr-4">
                            <div class="d-flex flex-column">
                                <a href="#" class="font-weight-bold mb-1 d-block lh-12">{{products.title}}</a>
                                <a href="#"
                                    class="text-uppercase text-muted letter-spacing-05 fs-12 font-weight-500">{{products.category}}</a>
                                <p class="mt-auto text-primary mb-0 font-weight-500">
                                    &#8377; {{products.price}}</p>
                            </div>
                            <!-- <div class="ml-auto d-flex flex-column">
                                <div class="my-auto content-change-vertical">
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to card"
                                        class="add-to-cart d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2 border">
                                        <i class="far fa-shopping-basket"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to favourite"
                                        class="add-to-wishlist d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2 border">
                                        <i class="far fa-heart"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Add to compare"
                                        class="add-to-compare d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2 border">
                                        <i class="far fa-random"></i>
                                    </a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Preview"
                                        class="preview d-flex align-items-center justify-content-center text-primary bg-white hover-white bg-hover-primary w-45px h-45px rounded-circle mb-2 border">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                {% endfor %}




            </div>

        </div>
        {% endcomment %}
        <!-- =============================================================== -->

        <div class="container container-xxl">
            <div class="row mb-7 overflow-hidden">

                {% for products in product %}
                
                    <div class="col-6 col-sm-6 col-md-3 col-lg-2 mb-6"  data-animate="fadeInUp">
                        <div class="product-bg">

                            <div class="card border-0 hover-change-content product product-bg-sec">
                                <!-- <div style="background-image: url('{{products.image.url}}')"
                                    class="card-img ratio bg-img-cover-center ratio-1-1">
                                </div> -->
                                <a href="{{products.image.url}}">

                                    <img src="{{products.image.url}}" alt="" class="card-img ratio bg-img-cover-center"
                                        style="aspect-ratio: 1/1;">
                                </a>

                            </div>
                        

                        <div class="pdetail">
                            <div>
                                <p class="product-head">{{products.title}}</p>
                            </div>
                            <div></div>
                            <label>{{products.sub_category}}</label> <br>
                            <label>{{products.category}}</label>

                            
                        </div>
                    </div>
                        
                    </div>
                
                {% endfor %}

            </div>

        </div>




    </section>
</main>



{% endblock %}