{% load static %}
<footer class="pt-10 pb-9 footer">
    <div class="container container-xxl">
    <div class="row">
    <div class="col-lg mb-6 mb-lg-0">
    <a href="#" class="footer-logo d-block"><img data-cfsrc="{% static 'web/images/Matanah Logo.png' %}" alt="Furnitor" style="display:none;visibility:hidden;">
        <img src="{% static 'web/images/Matanah Logo.png' %}" alt="Furnitor"></a>
    </div>
    <div class="col-sm-6 col-lg mb-6 mb-lg-0">
    <ul class="list-unstyled mb-0">
    <li class="py-0"><a href="{% url 'web:index' %}" class="lh-213 font-weight-500">Home</a> </li>
    <li class="py-0"><a href="{% url 'web:about' %}" class="lh-213 font-weight-500">About</a> </li>
    <li class="py-0"><a href="/product/all/" class="lh-213 font-weight-500">Prodcut</a> </li>
    </ul>
    </div>
    <div class="col-sm-6 col-lg mb-6 mb-lg-0">
    <ul class="list-unstyled mb-0">
    <li class="py-0"><a href="{% url 'web:gallery' %}" class="lh-213 font-weight-500">Gallery</a> </li>
    <li class="py-0"><a href="{% url 'web:contact' %}" class="lh-213 font-weight-500">Contact</a> </li>
    <!-- <li class="py-0"><a href="#" class="lh-213 font-weight-500">Term & Conditions</a> </li> -->
    </ul>
    </div>
    <!-- <div class="col-sm-6 col-lg mb-6 mb-lg-0">
    <ul class="list-unstyled mb-0">
    <li class="py-0"><a href="#" class="lh-213 font-weight-500">Gift Voucher</a> </li>
    <li class="py-0"><a href="#" class="lh-213 font-weight-500">Discount</a> </li>
    </ul>
    </div> -->
    <div class="col-sm-6 col-lg">
    <ul class="list-inline text-lg-right">
    <li class="list-inline-item mr-4"><a href="https://www.facebook.com/matanahfurniture/info/?tab=page_info" class="fs-20"><i class="fab fa-facebook-f"></i></a></li>
    <li class="list-inline-item mr-4"><a href="https://plus.google.com/b/106586490254808265379/106586490254808265379" class="fs-20"><i class="fab fa-google-plus-g"></i></a></li>
    <li class="list-inline-item"><a href="https://twitter.com/matanahindia" class="fs-20"><i class="fab fa-twitter"></i></a></li>
    <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCERtyRGe01zHuZsGb2RTX-Q/about" class="fs-20"><i class="fab fa-youtube-square"></i></i></a></li>
    </ul>
    <p class="mb-0 text-gray text-lg-right font-weight-500">
    © 2022 Matanah.<br>
    All rights reserved.
    </p>
    </div>
    </div>
    </div>
    </footer>
    