{% load static %}
<header class="main-header navbar-light header-sticky header-sticky-smart header-08">
    <!-- <div class="topbar bg-accent py-2 d-none d-xl-block">
    <div class="container">
    <div class="row">
    <div class="col-xl-4 mb-2 mb-xl-0">
    <div class="d-flex align-items-center h-100 justify-content-center justify-content-xl-start">
    <a href="#" class="d-flex align-items-center text-primary fs-15 pr-3 border-right border-light-dark">
    <span class="d-inline-block mr-2"><i class="fal fa-map-marker-alt"></i></span>
    <span>Find a Store</span>
    </a>
    <a href="#" class="d-flex align-items-center text-primary fs-15 pl-3">
    <span class="d-inline-block mr-2"><i class="fal fa-envelope"></i></span>
    <span>Newsletter</span>
    </a>
    </div>
    </div>
    <div class="col-xl-4 mb-2 mb-xl-0">
    <p class="mb-0 fs-15 text-primary text-center">Free shipping for
    orders over $59 !</p>
    </div>
    <div class="col-xl-4">
    <div class="d-flex align-items-center justify-content-center justify-content-xl-end h-100">
    <div class="dropdown px-3 border-right border-light-dark">
    <a href="#" class="dropdown-toggle font-weight-500 fs-15" id="dropdownMenuLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    English
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLanguage">
    <a class="dropdown-item text-primary" href="#">English</a>
    <a class="dropdown-item text-primary" href="#">Vietnamese</a>
    <a class="dropdown-item text-primary" href="#">Chinese</a>
    </div>
    </div>
    <div class="dropdown pl-3">
     <a href="#" class="dropdown-toggle font-weight-500 fs-15" id="dropdownMenuCurrency1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    USD
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuCurrency1">
    <a class="dropdown-item text-primary" href="#">USD</a>
    <a class="dropdown-item text-primary" href="#">EURO</a>
    <a class="dropdown-item text-primary" href="#">VND</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> -->
    <div class="d-none d-xl-block">
        <div class="pt-6 pb-7">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-12 logo-align">
                        <a class="navbar-brand mr-0 d-flex align-items-center h-100 py-0" href="{% url 'web:index' %}">
                            <script type="text/javascript" style="display:none">
                                //<![CDATA[
                                window.__mirage2 = { petok: "12e352e4f6b313b98e034b60c2997d8f5a48034f-1655201252-1800" };
    //]]>
                            </script>
                            <img data-cfsrc="{% static 'web/images/Matanah Logo.png' %}" alt="Furnitor"
                                style="display:none;visibility:hidden;">
                            <img src="{% static 'web/images/Matanah Logo.png' %}" alt="Furnitor">
                        </a>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12 pt-4">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <a href="tel:+966126301330" class="d-flex align-items-center justify-content-end h-100 call-color">
                                    <span class="d-block mr-2"><i class="far fa-phone-alt phone-icon"></i></span>Call us
                                    +966126301330</a>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 text-left">
                                <a href="https://wa.me/+9660532647031" class="d-flex align-items-center justify-content-xl-start h-100 call-color">
                                    <span class="d-block mr-2"><i class="fab fa-whatsapp whatsapp-icon"></i></span>Whatsapp us
                                    +9660532647031</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-6">
    <form class="d-flex align-items-center h-100">
    <div class="input-group position-relative">
    <input type="text" class="form-control border-0 border-bottom pl-0 border-2x bg-transparent" placeholder="Search Something...">
    <div class="input-group-append position-absolute pos-fixed-right-center">
    <button class="input-group-text bg-transparent border-0 text-primary fs-18 px-0" type="submit"><i class="far fa-search"></i></button>
    </div>
    </div>
    </form>
    </div>
    <div class="col-6 col-xl-3 ml-auto">
    <div class="d-flex align-items-center justify-content-end h-100">
    <ul class="navbar-nav flex-row justify-content-xl-end d-flex flex-wrap text-body py-0 navbar-right">
    <li class="nav-item">
    <a class="nav-link pr-3 py-0" href="#">
    <i class="far fa-user-alt"></i>
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link position-relative px-3 py-0" href="#"><i class="far fa-heart"></i>
    <span class="position-absolute number">0</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link position-relative px-3 menu-cart py-0" href="#" data-canvas="true" data-canvas-options='{"container":".cart-canvas"}'>
    <i class="far fa-shopping-basket"></i>
    <span class="position-absolute number">0</span>
    </a>
    </li>
    </ul>
    </div>
    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-area bg-white">
        <div class="d-none d-xl-block">
            <div class="border-top-0 border-xl-top">
                <div class="container">
                    <nav class="navbar navbar-expand-xl px-0 py-4 py-xl-0 row w-100 no-gutters">
                        <div class="col-xl-3">
                            <div class="dropdown no-caret">
                                <a href="#"
                                    class="btn dropdown-toggle btn-primary d-flex w-100 text-left align-items-center px-0 px-xl-4 border-0 shadow-none"
                                    id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <div class="toggle-bar"><span class="toggle-icon text-white"></span></div>
                                    <div class="pl-5">Browse Categories</div>
                                </a>
                                <div class="dropdown-menu w-100 py-0" aria-labelledby="dropdownMenuButton1">

                                    {% for categories in category %}
                                    <a class="dropdown-item media align-items-center border-bottom py-2"
                                        href="/product/{{categories.slug}}">
                                        <!-- <div class="w-28px mr-3">
                                            <img data-cfsrc="{% static 'web/images/chair.png' %}" alt="Chair"
                                                style="display:none;visibility:hidden;">
                                            <img src="{% static 'web/images/chair.png' %}" alt="Chair">
                                        </div> -->
                                        <div class="media-body ">{{categories.title}}</div>
                                    </a>
                                    {% endfor %}

                                    {% comment %}
                                    <a class="dropdown-item media align-items-center border-bottom py-2" href="#">
                                        <div class="w-28px mr-3">
                                            <img data-cfsrc="{% static 'web/images/desk.png' %}" alt="Table"
                                                style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/images/desk.png' %}" alt="Table">
                                        </div>
                                        <div class="media-body">Table
                                        </div>
                                    </a>
                                    <a class="dropdown-item media align-items-center border-bottom py-2" href="#">
                                        <div class="w-28px mr-3">
                                            <img data-cfsrc="{% static 'web/images/fish_bowl.png' %}" alt="Accessories"
                                                style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/images/fish_bowl.png' %}" alt="Accessories">
                                        </div>
                                        <div class="media-body">Accessories
                                        </div>
                                    </a>
                                    <a class="dropdown-item media align-items-center border-bottom py-2" href="#">
                                        <div class="w-28px mr-3">
                                            <img data-cfsrc="{% static 'web/images/sofa.png' %}" alt="Sofa"
                                                style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/images/sofa.png' %}" alt="Sofa">
                                        </div>
                                        <div class="media-body">Sofa
                                        </div>
                                    </a>
                                    <a class="dropdown-item media align-items-center border-bottom py-2" href="#">
                                        <div class="w-28px mr-3">
                                            <img data-cfsrc="{% static 'web/images/plant.png' %}" alt="Plants"
                                                style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/images/plant.png' %}" alt="Plants">
                                        </div>
                                        <div class="media-body">Plants
                                        </div>
                                    </a>
                                    <a class="dropdown-item media align-items-center border-bottom py-2" href="#">
                                        <div class="w-28px mr-3">
                                            <img data-cfsrc="{% static 'web/images/stool.png' %}" alt="Stool"
                                                style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/images/stool.png' %}" alt="Stool">
                                        </div>
                                        <div class="media-body">Stool
                                        </div>
                                    </a>
                                    <a class="dropdown-item media align-items-center border-bottom py-2" href="#">
                                        <div class="w-28px mr-3">
                                            <img data-cfsrc="{% static 'web/images/ladder.png' %}" alt="Stands"
                                                style="display:none;visibility:hidden;"><img
                                                src="{% static 'web/images/ladder.png' %}" alt="Stands">
                                        </div>
                                        <div class="media-body">Stands
                                        </div>
                                    </a>
                                    {% endcomment %}
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 d-flex pl-xl-8 position-static">
                            <ul class="navbar-nav hover-menu main-menu px-0 mx-xl-n4">
                                <li aria-haspopup="true" aria-expanded="false"
                                    class=" nav-item  dropdown-item-home  dropdown py-2 py-xl-5 px-0 px-xl-4  ">
                                    <a class=" {% if is_index %} nav-link {% endif %} p-0" href="{% url 'web:index' %}">
                                        Home
                                        <span class="caret"></span>
                                    </a>
                                    <!-- <ul class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp">
    <li class="dropdown-item">
    <a class="dropdown-link" href="home-01.html">
    Home 01
    </a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="home-02.html">
    Home 02
    </a>
     </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="home-03.html">
    Home 03
    </a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="home-04.html">
    Home 04
    </a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="home-05.html">
    Home 05
    </a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="home-06.html">
    Home 06
    </a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="home-07.html">
    Home 07
    </a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="home-08.html">
    Home 08
    </a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="home-09.html">
    Home 09
    </a>
    </li>
    <li class="dropdown-item active">
    <a class="dropdown-link" href="home-10.html">
    Home 10
    </a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="home-11.html">
    Home 11
    </a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="home-12.html">
    Home 12
    </a>
    </li>
    </ul> -->
                                </li>
                                <li aria-haspopup="true" aria-expanded="false"
                                    class="nav-item dropdown-item-shop dropdown py-2 py-xl-5 px-0 px-xl-4">
                                    <a class="{% if is_about %} nav-link {% endif %} p-0" href="{% url 'web:about' %}">
                                        About
                                        <span class="caret"></span>
                                    </a>
                                   
                                </li>
                                <li aria-haspopup="true" aria-expanded="false"
                                    class="nav-item dropdown py-2 py-xl-5 px-0 px-xl-4">
                                    <a class=" {% if is_product %} nav-link  {% endif %}  p-0"
                                        href="/product/all/">
                                        Products
                                        <span class="caret"></span>
                                    </a>
                                    <!-- <ul class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp">
    <li class="dropdown-item dropdown dropright">
    <a class="dropdown-link " href="#" data-toggle="dropdown">
    About us
    </a>
    <ul class="dropdown-menu dropdown-submenu pt-3 pb-0 pb-xl-3 x-animated x-fadeInLeft">
    <li class="dropdown-item">
    <a class="dropdown-link" href="about-us-01.html">About Us 01</a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="about-us-02.html">About Us 02</a>
    </li>
    </ul>
    </li>
    <li class="dropdown-item dropdown dropright">
    <a class="dropdown-link " href="#" data-toggle="dropdown">
    Contact
    </a>
    <ul class="dropdown-menu dropdown-submenu pt-3 pb-0 pb-xl-3 x-animated x-fadeInLeft">
    <li class="dropdown-item">
    <a class="dropdown-link" href="contact-01.html">Contact 01</a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="contact-02.html">Contact 02</a>
    </li>
    </ul>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="faqs.html">
    FAQs
    </a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="service.html">
    Service
    </a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="login-register.html">
    Login Register
    </a>
    </li>
    </ul> -->
                                </li>
                                <li aria-haspopup="true" aria-expanded="false"
                                    class="nav-item dropdown-item-blog dropdown py-2 py-xl-5 px-0 px-xl-4">
                                    <a class="{% if is_gallery %} nav-link  {% endif %} p-0"
                                        href="{% url 'web:gallery' %}">
                                        Gallery
                                        <span class="caret"></span>
                                    </a>
                                    <!-- <ul class="dropdown-menu pt-3 pb-0 pb-xl-3 x-animated x-fadeInUp">
    <li class="dropdown-item dropdown dropright">
    <a class="dropdown-link dropdown-toggle" href="#" data-toggle="dropdown">
    Blog Listing
    </a>
    <ul class="dropdown-menu dropdown-submenu pt-3 pb-0 pb-xl-3 x-animated x-fadeInLeft">
    <li class="dropdown-item">
    <a class="dropdown-link" href="blog-layout-01.html">Blog Layout 01</a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="blog-layout-02.html">Blog Layout 02</a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="blog-layout-03.html">Blog Layout 03</a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="blog-layout-04.html">Blog Layout 04</a>
    </li>
    </ul>
    </li>
    <li class="dropdown-item dropdown dropright">
    <a class="dropdown-link dropdown-toggle" href="#" data-toggle="dropdown">
    Blog Post
    </a>
    <ul class="dropdown-menu dropdown-submenu pt-3 pb-0 pb-xl-3 x-animated x-fadeInLeft">
    <li class="dropdown-item">
    <a class="dropdown-link" href="blog-post-01.html">Blog Post 01</a>
    </li>
    <li class="dropdown-item">
    <a class="dropdown-link" href="blog-post-02.html">Blog Post 02</a>
    </li>
    </ul>
    </li>
    </ul> -->
                                </li>
                                <li aria-haspopup="true" aria-expanded="false"
                                    class="nav-item dropdown-item-docs dropdown py-2 py-xl-5 px-0 px-xl-4">
                                    <a class="{% if is_contact %} nav-link  {% endif %}  p-0"
                                        href="{% url 'web:contact' %}">
                                        Contact
                                        <span class="caret"></span>
                                    </a>
                                    <!-- <div class="dropdown-menu px-0 pt-3 dropdown-menu-docs x-animated x-fadeInUp">
    <div class="dropdown-body">
    <a class="dropdown-item py-1" href="docs/getting-started/dev-environment-setup.html">
    <div class="media">
    <div class="fs-20 mr-3">
    <i class="fal fa-file-alt"></i>
    </div>
    <div class="media-body">
    <span class="d-block lh-15">Documentation</span>
    <small class="d-block">Kick-start customization</small>
    </div>
    </div>
    </a>
    <div class="dropdown-divider m-0"></div>
    <a class="dropdown-item py-1" href="docs/content/typography.html">
    <div class="media">
    <div class="fs-20 mr-3">
    <i class="fal fa-layer-group"></i>
    </div>
    <div class="media-body">
    <span class="d-block lh-15">UI Kit<span class="badge badge-danger ml-2">50+</span></span>
    <small class="d-block">Flexible components</small>
    </div>
    </div>
    </a>
    <div class="dropdown-divider m-0"></div>
    <a class="dropdown-item py-1" href="docs/getting-started/changelog.html">
    <div class="media">
    <div class="fs-20 mr-3">
    <i class="fal fa-edit"></i>
    </div>
    <div class="media-body">
    <span class="d-block lh-15">Changelog<span class="badge badge-success ml-2">v1.1.0</span></span>
    <small class="d-block">Regular updates</small>
    </div>
    </div>
    </a>
    <div class="dropdown-divider m-0"></div>
    <a class="dropdown-item py-1" href="https://sp.g5plus.net/" target="_blank">
    <div class="media">
    <div class="fs-20 mr-3">
    <i class="fal fa-life-ring"></i>
    </div>
    <div class="media-body">
    <span class="d-block lh-15">Support</span>
    <small class="d-block">https://sp.g5plus.net/</small>
    </div>
    </div>
    </a>
    </div>
    </div> -->
                                </li>
                            </ul>
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="d-block d-xl-none">
            <div class="container">
                <nav class="navbar navbar-expand-xl px-0 py-3 w-100 align-items-center">
                    <button class="navbar-toggler border-0 px-0 canvas-toggle" type="button" data-canvas="true"
                        data-canvas-options='{"width":"250px","container":".sidenav"}'>
                        <span class="fs-24 toggle-icon"></span>
                    </button>
                    <a class="navbar-brand d-inline-block mx-auto py-0" href="{% url 'web:index' %}">
                        <img data-cfsrc="{% static 'web/images/Matanah Logo.png' %}" alt="Furnitor"
                            style="display:none;visibility:hidden;">
                        <img src="{% static 'web/images/Matanah Logo.png' %}" alt="Furnitor">
                    </a>
                    <!-- <a href="#search-popup" data-gtf-mfp="true"
                        data-mfp-options='{"type":"inline","focus": "#keyword","mainClass": "mfp-search-form mfp-move-from-top mfp-align-top"}'
                        class="nav-search d-block py-0" title="Search"><i class="far fa-search"></i></a> -->
                </nav>
            </div>
        </div>
        
    </div>
    <div class="sidenav canvas-sidebar bg-white">
        <div class="canvas-overlay">
        </div>
        <div class="pt-5 pb-7 card border-0 h-100">
            <div class="d-flex align-items-center card-header border-0 py-0 pl-8 pr-7 mb-9 bg-transparent">
                <a href="#" class="d-block w-52px">
                    <img data-cfsrc="{% static 'web/images/Matanah Logo.png' %}" alt="Furnitor"
                        style="display:none;visibility:hidden;">
                        <img src="{% static 'web/images/Matanah Logo.png' %}" alt="Furnitor">
                            
                </a>
                <span class="canvas-close d-inline-block text-right fs-24 ml-auto lh-1 text-primary"><i
                        class="fal fa-times"></i></span>
            </div>
            <div class="overflow-y-auto pb-6 pl-8 pr-7 card-body pt-0">
                <ul class="navbar-nav main-menu px-0 ">
                    <li aria-haspopup="true" aria-expanded="false"
                                    class=" nav-item  dropdown-item-home  dropdown py-2 py-xl-5 px-0 px-xl-4  ">
                                    <a class=" {% if is_index %} nav-link {% endif %} p-0" href="{% url 'web:index' %}">
                                        Home
                                        <span class="caret"></span>
                                    </a>
                                   
                                </li>
                                <li aria-haspopup="true" aria-expanded="false"
                                    class="nav-item dropdown-item-shop dropdown py-2 py-xl-5 px-0 px-xl-4">
                                    <a class="{% if is_about %} nav-link {% endif %} p-0" href="{% url 'web:about' %}">
                                        About
                                        <span class="caret"></span>
                                    </a>
                                   
                                </li>
                                <li aria-haspopup="true" aria-expanded="false"
                                    class="nav-item dropdown py-2 py-xl-5 px-0 px-xl-4">
                                    <a class=" {% if is_product %} nav-link  {% endif %}  p-0"
                                        href="/product/all/">
                                        Products 
                                        <span class="caret"></span>
                                    </a>
                                   
                                </li>
                                <li aria-haspopup="true" aria-expanded="false"
                                    class="nav-item dropdown-item-blog dropdown py-2 py-xl-5 px-0 px-xl-4">
                                    <a class="{% if is_gallery %} nav-link  {% endif %} p-0"
                                        href="{% url 'web:gallery' %}">
                                        Gallery
                                        <span class="caret"></span>
                                    </a>
                                    
                                </li>
                                <li aria-haspopup="true" aria-expanded="false"
                                    class="nav-item dropdown-item-docs dropdown py-2 py-xl-5 px-0 px-xl-4">
                                    <a class="{% if is_contact %} nav-link  {% endif %}  p-0"
                                        href="{% url 'web:contact' %}">
                                        Contact
                                        <span class="caret"></span>
                                    </a>
                                    
                                </li>
                </ul>
            </div>
            
        </div>
    </div>
</header>